.btn-add {
  margin-left: 900px;
  margin-bottom: 10px;
  background: #0d5ea4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.btn-save {
  // margin-bottom: 10px;
  margin-bottom: 0px;
  background: #02be1b 0% 0% no-repeat padding-box;
  opacity: 1;
}
.btn-pay {
  // margin-bottom: 10px;
  margin-top: -5px;
  background: #046299 0% 0% no-repeat padding-box;
  opacity: 1;
  border: transparent;
}

.text-add {
  top: 100px;
  left: 251px;
  width: 61px;
  height: 19px;
  text-align: left;
  letter-spacing: 0px;
  color: #0d5ea4;
  opacity: 1;
}

.lbl-color {
  color: #ea7715;
}
.desc {
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}
.ta-r {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.p-0 {
  padding: 0px;
}
.no-data-found {
  text-align: center;
  font-size: 15px;
}
